//
// GLOBAL COLOR AND VARIABLE DECLARATIONS
//

// Primary color, use sparingly
$color-primary = #b3001b    // red

// Secondary color, use moderately
$color-secondary = #1c1d25  // navy blue

// Tertiary color, use more often
$color-tertiary = #dbdfac   // light greenish

// Other colors
$color-white = #fff
$color-black = #07080a      // off-black
