//
// GLOBAL COLOR AND VARIABLE DECLARATIONS
//

// Primary color, use sparingly
$color-primary = #ec3302    // burnt orange

// Secondary color, use moderately
$color-secondary = #434db0  // strong blue

// Tertiary color, use more often
$color-tertiary = #1c1d25   // navy blue

// Other colors
$color-white = #fff
$color-black = #07080a      // off-black
