//
// MAIN STYLESHEET
// Please keep this file neat. COMMENT as needed.
//

@import "globals"

//
// PAGE GLOBAL STYLES
//

html, body
    background-color $color-tertiary
    position absolute
    display block
    left 0
    right 0
    width 100%
    top 0
    bottom 0
    height 100%

    .pure-g > div
    .padded
        -webkit-box-sizing border-box
        -moz-box-sizing border-box
        box-sizing border-box
    
    .box
    .padded
        padding .5em

//
// TYPOGRAPHY
//

h1
    color $color-primary
    font-size 4em
    margin .5em
    line-height 1em
    text-align center

//
// NAV DEFAULTS
//

nav
    ul
        margin 0
        padding 0
        list-style-type none
        li
            float left
            a
                font-weight bold
