//
// MAIN STYLESHEET
// Please keep this file neat. COMMENT as needed.
//

@require "../../bower_components/pure/pure.css"
@require "../../bower_components/pure/grids-responsive.css"
@import "globals"

//
// PAGE GLOBAL STYLES
//

body
    background-color $color-white
